swagger: "2.0"
info:
  version: "0.0.1"
  title: School Management System
  description: This is a sample api documentation for a school management,which will be use as guide to fully document the api and use to develop the client application for this system.This documentation therefore makes use of an already built api found in swapi.dev
  contact: 
    email: suhedmond25@yahoo.com
# during dev, should point to your local machine
host: swapi.dev
# basePath prefixes all resource paths 
basePath: /api
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /people/: 
    get:
      summary: Return a list of all person in the Star World universe
      description: Get all people resources found in the Star world universe
      responses:
        "200":
          description: OK
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /people/:id:
    get:
      parameters:
        name: id
        type: integer
      responses:
        "200":
          description: OK
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

# complex objects have schema definitions
definitions:
  # People:
  #   type: object
  #   properties:
  #     id:
  #       type: integer
  #       description: Unique identifier for the person
  #     name:
  #       type: string
  #       description: The name of this person
  #     birth_year:
  #       type: string
  #       description: The birth year of the person, using the in-universe standard of BBY or ABY-Before the Battle of Yavin and After the Battle of Yavin
  #     eye_color: 
  #       type: string
  #       description: The eye color of the person.Will be unknown or n/a if the person does not have a gender
  #     gender:
  #       type: string
  #       description: The gender of this person. Either "Male", "Female" or "unknown", "n/a" if the person does not have a gender.
  #     hair_color:
  #       type: string
  #       description: The hair color of this person. Will be "unknown" if not known or "n/a" if the person does not have hair.
  #     height:
  #       type: string
  #       description:  The height of the person in centimeters.   
  #     mass:
  #       type: string 
  #       description: The mass of the person in kilograms
  #     skin_color:
  #       type: string
  #       description: THe skin colorof the person
  #     homeworld:
  #       type: string
  #       description: THe URL of the planet resource, a planet that person was born or inhabits
  #     films:
  #       type: array
  #       description: An array of film resource URLs that this person has been in.
  #     species:
  #       type: array
  #       description: An array of species resource URLs that this person belongs to.
  #     starships:
  #       type: array
  #       description: An array of starship resource URLs that this person has piloted.
  #     vehicles:
  #       type: array
  #       description: An array of vehicle resource URLs that this person has piloted.
  #     url:
  #      type: string
  #      description: the hypermedia URL of this resource.
  #     created:
  #       type: string
  #       description: the ISO 8601 date format of the time that this resource was created.
  #     edited:
  #       type: string
  #       description:  the ISO 8601 date format of the time that this resource was edited.
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
